header {
  background-color: #010834;
  margin: 0;
  text-align: center;
  color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;

  h1 {
    margin: 0;
  }

  svg {
    margin-top: 2px;
    margin-right: 12px;
  }
}
