<div class="dashboard-title">
  <div class="dashboard-head">
    <h1>{{ selectedDevice.deviceName | uppercase }}</h1>
    <h1>{{ selectedDevice.deviceType | uppercase }}</h1>
  </div>

  <div class="dashboard-select-bloc">
    <div class="periods-container">
      <div
        (click)="updateTime('today')"
        class="period"
        [ngClass]="{ 'selected-period': selectedTime === 'today' }"
      >
        <h3>Today</h3>
      </div>
      <div
        (click)="updateTime('week')"
        class="period"
        [ngClass]="{ 'selected-period': selectedTime === 'week' }"
      >
        <h3>Week</h3>
      </div>
      <div
        (click)="updateTime('month')"
        class="period"
        [ngClass]="{ 'selected-period': selectedTime === 'month' }"
      >
        <h3>Month</h3>
      </div>
    </div>

    <div class="stats-list">
      @for(data of datas; track data){ @if(data[0] !== "date" && data[0] !==
      "_id" && data[0] !== "device_id"){
      <div
        class="stat-element"
        (click)="updateData(data[0])"
        [ngClass]="{
          'stat-element-selected': selectedData === data[0]
        }"
      >
        <h3>{{ data[0] }}</h3>
        <h3>{{ data[1] }} <fa-icon [icon]="icons[data[0]]" /></h3>
      </div>
      } }
    </div>
  </div>
</div>

<div class="chart">
  <div class="dashboard-head-chart">
    <h1>{{ selectedData | uppercase }} : {{ selectedTime | uppercase }}</h1>
  </div>
  <figure
    id="bar"
    [ngClass]="{
      hide:
        selectedDevice.deviceType === 'Smart Balance' &&
        selectedTime === 'today'
    }"
  ></figure>
  <div
    class="weighting"
    [ngClass]="{
      hide:
        selectedDevice.deviceType !== 'Smart Balance' ||
        (selectedDevice.deviceType == 'Smart Balance' &&
          selectedTime !== 'today')
    }"
  >
    <h1>WEIGHTING OF THE DAY (8 A.M.)</h1>
    <h1>{{ selectedData }}</h1>
    <h1>
      {{ balanceData && balanceData["Value"] }}
      <fa-icon [icon]="icons[selectedData]" />
    </h1>
    <figure id="pie"></figure>
  </div>
</div>
